<app-menu></app-menu>
<main>
    <section >
       <div class="row w-100">
            <div class="col col-12 col-md-2">
                <app-menu-lateral></app-menu-lateral>
            </div>
            <div class="col p-3">
                 <section>
                    <div class="bg-light p-2">
                        <h3 class="border-bottom p-3">Registro de Mercancia</h3>
                    </div>
                 </section>

                 <section>
                    <form class="w-100">
                        <div class="" #formularioPaquetes >
                            <app-formulario-de-paquetes></app-formulario-de-paquetes>
                        </div>
                        <div class="" #formularioRemitente>
                            <app-formulario-remitente></app-formulario-remitente>
                        </div>
                        <div class="" #formularioDestinatario>
                            <app-formulario-destinatario></app-formulario-destinatario>
                        </div>
                    </form>
                 </section>
            </div>
       </div>
    </section>
</main>
