<app-menu></app-menu>

<main>
    <section >
       <div class="row w-100">
            <div class="col col-12 col-md-2">
                <app-menu-lateral></app-menu-lateral>
            </div>
            <div class="col p-3">
                 <section>
                    <div class="bg-light p-2">
                        <h3 class="border-bottom p-3">Bienvenido al sistema de gestion de inventario de tcc</h3>
                    </div>
                 </section>

                 <section>
                    <div>
                        estadisticas
                        <h1>cantidad paquetes enviados</h1>
                        <h1>FOCO DE ACUMULACION DE PAQUETES SEGUN TIPO EN ZONA D EDISTRIBUICION</h1>
                        <h1>analizis en plano cartesiano segun datos</h1>


                    </div>
                 </section>
            </div>
       </div>
    </section>
</main>


